p {
    text-wrap: pretty;  
}
h1 {
  color: white;
  background-color: pink;
  font-size: xx-large;
}

.problem {
    color: white;
    background-color: #FFC0CB;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px; 
    font-size: large;
}
