<link rel="stylesheet" href="/style.css" type="text/css">
<div class="problem">
Here's the text of the problem, which will now appear in the green box style defined in the style sheet.
</div>
.problem {
    background-color: #86e2b0;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px; 
    font-size: large;
}
